/* Corps de la page */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #181818;
  color: #f8f8f8;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Contenu principal */
.main-content {
  margin-left: 270px;
  padding: 30px;
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.main-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ff6f61;
  text-decoration: underline;
}

.main-content p {
  margin-bottom: 15px;
  text-align: justify;
}

.vbox2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.vbox2 img {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button {
  background-color: #ff6f61;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff3d2e;
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-content {
      margin-left: 0;
      padding: 20px;
  }

  .sidebar {
      width: 100%;
      height: auto;
      position: relative;
  }

  .sidebar ul li {
      text-align: center;
  }

  .sidebar ul li a {
      display: inline-block;
      margin: 0 10px;
  }

  .vbox2 img {
      max-width: 100%;
      margin: 10px 0;
  }
}
