body {
  font-family: 'Roboto', sans-serif; /* Utilisation d'une police moderne */
  background-color: #181818; /* Amélioration du contraste */
  color: #f8f8f8;
  line-height: 1.6;
}

/* Menu latéral */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #252525;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Ajout d'une ombre */
}

.sidebar ul li a {
  color: #b0b0b0;
  text-decoration: none;
  font-size: 18px;

  display: block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #333;
  color: #ffffff;
  border-radius: 5px;
}

/* Contenu principal */
.main-content {
  margin-left: 270px;
  padding: 30px;
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Ombre pour rendre le contenu plus "flottant" */
}

/* Titres dans le contenu principal */
.main-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ff6f61; /* Couleur distincte pour le titre */
  text-align: center; /* Centrer le texte */
  text-decoration: underline;
}

/* Disposition verticale */
.vbox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Disposition horizontale */
.hbox {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

/* Section LS Solution */
.lssolution {
  flex: 1;
  padding: 20px;
  background-color: #2a2a2a;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre douce pour effet de profondeur */
}

.lssolution img {
  background-color: #b0b0b0;
  height: auto;
  max-width: 50%;
}

/* Bouton pour visiter le site */
.sitels {
  width: 130px;
  max-height: 40px;
  padding: 10px;
  background-color: #ff6f61;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sitels:hover {
  background-color: #e85b53;
}

/* Carte Google Maps */
.map1 iframe {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Styles responsifs */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .main-content {
    margin-left: 0;
    padding: 20px;
  }
  .hbox {
    flex-direction: column;
  }
}

  .stage1 {
    background-color:#252525;
    border: none;
    border-radius: 10px;
  }

  .mission1 {
    background-color: #333;
  }